<div class='flex'>
	<img src={{imagePath}}>
	<div>
		<h1>{{ movie.name }}</h1>
		<p>{{ movie.description }}</p>
	</div>
</div>
<div>
	<h2>Screenings</h2>
	<div class='flex' *ngFor="let item of screeningsByCinema">
		<ng-container *ngIf="item.screenings[0]">
			<p>{{ item.cinemaName }}:</p>
			<p 
				*ngFor="let screening of item.screenings"
				(click)="deleteScreening(screening.id)"
			>
				{{ screening.time }}
			</p>
		</ng-container>
	</div>
</div>
<div class="button-container">
	<button
		class="btn btn-success"
		(click)="toggleAddScreeningForm()"
	>
		{{ hideAddScreeningForm ? "Add Screening" : "Hide Form" }}
	</button>
	<button
	class="btn btn-success"
	(click)="toggleMovieForm()"
	>
		{{ hideEditMovieForm ? "Update Movie" : "Hide Form" }}
	</button>
	<button class="btn btn-danger" (click)="deleteMovie(movie.id)">Delete movie</button>
</div>
<app-add-screening-form
	[hidden]="hideAddScreeningForm"
	[renderedInsideOf]="'movie'"
	[resourceId]="movie.id"
	(updater)="updateScreenings()"
></app-add-screening-form>
<app-add-movie-form
	[hidden]="hideEditMovieForm"
	[movie]="movie"	
></app-add-movie-form>