header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #16181a;
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

h1 {
    color: #e8ebed;
    cursor: pointer;
    outline: none;
    margin: 0 20px;
}

a {
    color: #d7d9db;
    text-decoration: none;
}