img {
    margin: 20px;
}

p {
    margin: 10px;
}

.flex {
    display: flex;
    max-height: 313px;
}

.button-container {
    display: flex;
    justify-content: center;

    button {
        margin: 0 10px;
    }
}