<div class='flex'>
	<img src={{imagePath}}>
	<div>
		<h1>{{ cinema.name }}</h1>
		<p>Location: {{ cinema.location }}</p>
		<p>Opening hours: {{ cinema.openingHours }}</p>
	</div>
</div>
<div>
	<h2>Screenings</h2>
	<div class='flex' *ngFor="let item of screeningsByMovie">
		<ng-container *ngIf="item.screenings[0]">
			<p>{{ item.movieName }}:</p>
			<p 
				*ngFor="let screening of item.screenings"
				(click)="deleteScreening(screening.id)"
			>
				{{ screening.time }}
			</p>
		</ng-container>
	</div>
</div>
<div>
	<button
		class="btn btn-success"
		(click)="showAddScreeningForm()"
	>
		{{ hideAddScreeningForm ? "Add Screening" : "Hide Form" }}
	</button>
	<button
		class="btn btn-success"
		(click)="showAddCinemaForm()"
	>
		{{ hideEditCinemaForm ? "Update Cinema" : "Hide Form" }}
	</button>
	<button class="btn btn-danger" (click)="deleteCinema(cinema.id)">Delete cinema</button>
</div>
<app-add-screening-form
	[hidden]="hideAddScreeningForm"
	[renderedInsideOf]="'cinema'"
	[resourceId]="cinema.id"
	(updater)="updateScreenings()"
></app-add-screening-form>
<app-add-cinema-form
	[hidden]="hideEditCinemaForm"
	[cinema]="cinema"
></app-add-cinema-form>

