{{ diagnostic }}
<div class="container">
    <h1>Enter details for a new screening</h1>
    <form (ngSubmit)="onSubmit()" #screeningForm="ngForm">
        <div class="form-group">
            <label for="cinema">Cinema</label>
            <select
                class="form-control"
                id="cinema"
                required
                [(ngModel)]="screening.cinemaId"
                name="cinemaId"
            >
                <option *ngFor="let cinema of cinemas; index as i" [value]="i + 1">{{ cinema.name }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="movie">Movie</label>
            <select
                class="form-control"
                id="movie"
                required
                [(ngModel)]="screening.movieId"
                name="movieId"
            >
                <option *ngFor="let movie of movies; index as i" [value]="i + 1">{{ movie.name }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for='time'>Time</label>
            <input
                type="text"
                class="form-control"
                id="time"
                required
                [(ngModel)]="screening.time"
                name="time"
            >
        </div>
        <button 
            type="submit"
            class="btn btn-success"
        >
            Add
        </button>
    </form>
</div>
