{{ diagnostic }}
<div class="container">
    <h1>Enter details for a new screening</h1>
    <form (ngSubmit)="onSubmit()" #screeningForm="ngForm">
        <div class="form-group">
            <label for="cinema">Cinema</label>
            <select
                class="form-control"
                id="cinema"
                required
                [(ngModel)]="screening.cinemaId"
                name="cinemaId"
            >
                <option *ngFor="let cinema of cinemas; index as i" [value]="i + 1">{{ cinema.name }}</option>
            </select>
        </div>
    </form>
</div>
