<div class="container">
	<h1 *ngIf="!movie.id">Enter details for a new movie</h1>
	<h1 *ngIf="movie.id">Update details for this movie</h1>
	<form (ngSubmit)="onSubmit(); movieForm.reset()" #movieForm="ngForm">
		<div class="form-group">
			<label for="name">Name</label>
			<input 
				type="text"
				class="form-control"
				id="name"
				required
				[(ngModel)]="movieName"
				name="name"
				#name="ngModel"
			>
		</div>
		<div class="form-group">
			<label for="description">Description</label>
			<input
				type="text"
				class="form-control"
				id="description"
				required
				[(ngModel)]="movieDescription"
				name="description"
				#description="ngModel"	
			>
		</div>
		<button 
			type="submit"
			class="btn btn-success"
		>
			Submit
		</button>
	</form>
</div>