<div class="container">
	<h1 *ngIf="!movie">Enter details for a new movie</h1>
	<h1 *ngIf="movie">Update details for this movie</h1>
	<form (ngSubmit)="onSubmit(); movieForm.reset()" #movieForm="ngForm">
		<div class="form-group">
			<label for="name">Name</label>
			<input 
				type="text"
				class="form-control"
				id="name"
				required
				[(ngModel)]="newMovie.name"
				name="name"
				#name="ngModel"
			>
		</div>
		<div 
			[hidden]="name.valid || name.pristine"
			class="alert alert-danger"
		>
			Please provide a name
		</div>
		<div class="form-group">
			<label for="description">Description</label>
			<input
				type="text"
				class="form-control"
				id="description"
				required
				[(ngModel)]="newMovie.description"
				name="description"
				#description="ngModel"	
			>
		</div>
		<div 
			[hidden]="description.valid || description.pristine"
			class="alert alert-danger"
		>
			Please provide a description
		</div>
		<button 
			type="submit"
			class="btn btn-success"
			[disabled]="!movieForm.form.valid"
		>
			Submit
		</button>
	</form>
</div>