<div class="container">
	<h1 *ngIf="!cinema">Enter details for a new cinema</h1>
	<h1 *ngIf="cinema">Update details for this cinema</h1>
	<form (ngSubmit)="onSubmit(); cinemaForm.reset()" #cinemaForm="ngForm">
		<div class="form-group">
			<label for="name">Name</label>
			<input 
				type="text"
				class="form-control"
				id="name"
				required
				[(ngModel)]="newCinema.name"
				name="name"
				#name="ngModel"
			>
		</div>
		<div 
			[hidden]="name.valid || name.pristine"
			class="alert alert-danger"
		>
			Please provide a name
		</div>
		<div class="form-group">
			<label for="location">Location</label>
			<input
				type="text"
				class="form-control"
				id="location"
				required
				[(ngModel)]="newCinema.location"
				name="location"
				#location="ngModel"	
			>
		</div>
		<div 
			[hidden]="location.valid || location.pristine"
			class="alert alert-danger"
		>
			Please provide a location
		</div>
		<div class="form-group">
			<label for="openingHours">Opening Hours</label>
			<input
				type="text"
				class="form-control"
				id="openingHours"
				required
				[(ngModel)]="newCinema.openingHours"
				name="openingHours"
				#openingHours="ngModel"	
			>
		</div>
		<div 
			[hidden]="openingHours.valid || openingHours.pristine"
			class="alert alert-danger"
		>
			Please provide a location
		</div>
		<button 
			type="submit"
			class="btn btn-success"
			[disabled]="!cinemaForm.form.valid"
		>
			Submit
		</button>
	</form>
</div>
