.container {
    cursor: pointer;
    display: inline-block;
    height: 300px;
    width: 200px;
    margin: 20px;
}

div :nth-child(1) {
    height: 90%;
}

div :nth-child(2) {
    background-color: white;
    height: 10%;
    text-align: center;
    line-height: 2;
}

img {
    object-fit: fill;
    height: 100%;
    width: 100%;
}